.card {
    background-color: #FDE68A; /* Tailwind bg-yellow-200 */
    border: 1px solid hsl(0, 81%, 41%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsl(0, 5%, 64%);
    padding: 20px;
    margin: 20px;
    width: 1000px;  /* Card width */
    height: 500px;  /* Card height */
    display: flex;
    flex-direction: row;
}

.textSection {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
    color: black; /* Text color black */
}

.header {
    width: 100%;
    text-align: center; /* Center the title within the left column */
    margin-bottom: 20px; /* Increased space between the header and body */
    font-size: 1.25rem;
    font-weight: bold;
}

.body {
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Space between each section of text */
}

.imageSection {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid hsl(0, 81%, 41%); /* Vertical divider */
    padding-left: 20px;
}

.cardImage {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.cardButton {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
